
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* DECUMENT */
*{Padding: 0; margin: 0; list-style: none; text-decoration: none; box-sizing: border-box;
      font-family: "Nunito", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }
:root{
    --bg-color: #000000;
    --snd-bf-color: #212121;
    --text-color: #fcfcfc;
    --main-color: #FF0035;
}
html{
    min-height:62.5%;
    overflow-x: hidden;
}
body{
   background: var(--bg-color);
   color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 1.5rem;
    cursor: default;
    color: var(--main-color);
    font-weight: 700;
}
.nav-bar a{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 700;
    margin-left: 4rem;
}
.nav-bar a:hover,
.nav-bar a.active{
    color: var(--main-color);
}
.title{
    margin-top: 10rem;
    text-align: center;
}
.title span{
    color: var(--main-color);
}
p{
    text-align: center;
    margin-top: 2rem;
    padding: 0rem 5rem;
}
h3 {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 0.8rem;
}
h3 span {
    color: var(--main-color);
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 5rem;
}
section .box{
    height: 20rem;
    width: 20rem;
    gap: 0%;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    box-shadow: var(--main-color) 0px 1px 0px, var(--main-color) 0px 2px 4px, var(--main-color) 0px 4px 8px;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 1.7rem;
}
footer{
    display: none;
}
@media (max-width: 858px){
    html{
        font-size: 55%;
    }
    .header{
        position: absolute;
    }
    .title{
        font-size: 2.8rem;
    }
    p{
        font-size: 1.5rem;
        padding: 0rem 2rem;
    }
    h3 {
        text-align: center;
        font-size: 1.65rem;
        margin-top: 0.8rem;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0.9rem 2rem;
    }
    section{
        margin-bottom: 4rem;
    }
    section .box{
        height: 30rem;
        width: 100%;
        gap: 0%;
        border: 1px solid var(--main-color);
        border-radius: 8px;
        box-shadow: var(--main-color) 0px 1px 0px, var(--main-color) 0px 2px 4px, var(--main-color) 0px 4px 8px;
        background: #212121;
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-color);
        font-size: 2rem;
    }
    .nav-bar a{
        display: none;
    }
    footer{
        background: #000000;
        border-top: 1px solid var(--text-color);
        height: 50px;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: fixed;
        bottom: 0%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        font-size: 1.2rem;
    }
    .footer-bar a{
        padding: 20px;
        color: var(--text-color);
    }
    .footer-bar a:hover,
    .footer-bar a.active{
    color: var(--main-color);
}
}